.Answer{
    position: absolute;
    bottom: 0;
    width:322px;

}
.Answer .ButtonGame{
    padding: 10px 10px 70px 10px;
    /* margin-top: 55px; */
    background-color: white;
    height: 60vh;
    border-radius: 25px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding-bottom: 80px; */
    position: relative;
}
.Answer .ButtonGame div{
    width:90px;
    height: 60px;
    /* margin-top: 10px; */
    padding-top:0 ;
    /* background-color: #a8c9f0; */
}
.Answer .ButtonGame button{
    width:60px;
    height:60px;
    margin: 0;
    font-size: 20px;
    border: none;
    background-color:#c2c45d ;
    color: #f75a12;
}
.Answer .ButtonGame div:last-child{
    position: absolute;
    bottom: 15px;
    width: 300px;
}
.Answer .ButtonGame div:last-child button{
   height: 50px;
    width: 250px;
}
