.Question{
    height:20vh;
}
.heading{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    
}
.quesInput{
    margin-top: 20px;
    height:40px;
    width: 300px;
    text-align: center;
    font-size: 30px;
    border: none;
    color: white;
    background-color:#f75a12;

}